@import url(https://fonts.googleapis.com/css?family=Literata|Merriweather|Open+Sans|Roboto&display=swap);

$roboto: 'Roboto', sans-serif;
$merri: 'Merriweather', serif;
$open-sans: 'Open Sans', sans-serif;
// font-family: 'Literata', serif;

.body__style{
  background-color:#8C9EFF;
  font-family: $roboto;
}

.app__search {
  display: flex;
  justify-content: center;
}

.app__search-search {
  width: 310px;
  margin: 10px;
}

.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card {
  flex: 1 0 100%;
  flex-basis: 20%;
  min-width: 240px;
  margin: 0 10px;
  font-family: $roboto;
}

.Search__Text{
  font-size: calc(10px + 2vmin);
  color: #282c34;
  font-family: $roboto;

}

.google__map{
  width: "100%"; 
  height: "550px";
  align-items:"center"
}

.content{
  background-color: #304FFE;
  color: #fff;
}


